extends layout.pug
block content
    a(href="./weather")
        button(id="goToWeather") Enter App
        //- script let goToWeather = document.getElementById('goToWeather'); goToWeather.addEventListener('click', function() {app.get('/', function(req, res) { res.render('weather')})})
