
html
    head
        title A Simple Weather App
        link(rel="stylesheet" type="text/css" href="./style.css")
if input
        body
        h1 Enter City Name
        br
        block content

else
        body
        h1 Welcome To My Weather App!
        br
        block content